# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/**/*

# Runtime data
pids
*.pid
*.seed

# dotenv environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build outputs
/frontend/build/
/dashboard/build/

# Misc
coverage/
.eslintcache
.parcel-cache
